// 定义全局的样式变量
$base-color: #0f0; //主题色

$base-slider-bgcolor: #001529; // 左侧菜单栏背景色

$base-slider-width: 320px; // 左侧菜单栏宽度

$base-slider-min-width: 70px; // 左侧菜单栏折叠宽度


$base-tabbar-height: 60px; // 顶部栏高度